@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Semi Condensed", sans-serif;
}

body{
    background-color: hsl(214, 17%, 92%);
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    overflow: hidden;

    display: grid;
    grid-template-columns: 20rem 20rem 18rem 18rem;
    grid-template-rows: 21rem 21rem;
    grid-template-areas:
    "a a b e"
    "c d d e";
}

.item-a{
    background-color: hsl(263, 55%, 52%);
    grid-area: a;

    background-image: url(../images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: 424px 0;
    background-size: 8.3rem;
}

.item-a img{
    border: 2px solid hsl(264, 82%, 80%);
}

.item-a .area-texto p{
    width: 94%;
    font-size: .9rem;
}

.item-b{
    background-color: hsl(217, 19%, 35%);
    grid-area: b;
}

.item-b .area-texto h2{
    font-size: 1.3rem;
}

.item-b .area-texto p{
    font-size: .9rem;
}

.item-c{
    background-color: hsl(0, 0%, 100%);
    grid-area: c;
}

.item-c h2{
    font-size: 1.5rem;
}

.item-d{
    background-color: hsl(219, 29%, 14%);
    grid-area:d;
}

.item-d img{
    border: 2px solid hsl(263, 55%, 52%);
}

.item-d h2{
    font-size: 1.3rem;
}

.item-d .area-texto p{
    font-size: .9rem;
    width: 98%;
    line-height: 1.4rem;
}

.item-e{
    background-color: hsl(0, 0%, 100%);
    grid-area: e;
}

.item-e .area-texto p{
    font-size: .9rem;
    line-height: 1.3rem;
}

.bloco{
    border-radius: 10px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    overflow: hidden;
    box-shadow: 10px 10px 10px hsla(0, 0%, 7%, 0.541);

    padding: 2.2rem 2rem;
}

.branco{
    color: hsl(0, 0%, 100%);
}

.azul{
    color: hsl(219, 29%, 14%);
}

.area-avatar{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
}

.avatar-img img{
    border-radius: 100px;
    width: 3rem;
}

.nome{
    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: .3rem;
}

.graduate{
    font-size: .9rem;
}

h2{
    font-size: 1.4rem;
    font-weight: 500;
    width: 96%;
    padding-bottom: 1rem;
}